PORT=5000
# Supabase Transaction Pooler (Used by your Node app)
DATABASE_URL="postgresql://user:password@aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
# Supabase Session Pooler (Used by Prisma for migrations)
DIRECT_URL="postgresql://user:password@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres"

JWT_SECRET="your_access_token_secret"
JWT_REFRESH_SECRET="your_refresh_token_secret"
JWT_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
